@page
@model WebWedding.Pages.KorisnikPages.KorisnikUspesnoStePoslaliZahtevModel
@{
    ViewData["Title"] = "KorisnikUspesnoStePoslaliZahtev";
    Layout = "_LayoutKorisnikSaZahtevom ";
}

<input type="hidden" id="korisnikID" asp-for="@Model.KorisnikID">
<div class="text-center">
    <img class="animated rubberBand" src="../images/uspesno.png" />
    <br />
    <br />
    <h1>
        Zahvaljujemo!
        <br />
        <br />

    </h1>
    <div>Uspesno ste poslali podatke!</div>



</div>

