<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link rel="shortcut icon" href="../srce2.ico">
    <link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template-->
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="~/css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/style.css">


    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->


</head>

<body class="bg-gradient-primary">

    <header id="fh5co-header-section" class="sticky-banner">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                <h1 id="fh5co-logo"><a href="/Index.html" src="../images/logo.jpg"></a></h1>
                <h1 id="fh5co-logo"><a href="/Index">WebWedding</a></h1>
                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li><a asp-page="/Index">Pocetna</a></li>
                        <li>
                            <a asp-page="/StraniceNaPocetnoj/ONama" class="fh5co-sub-ddown">O nama</a>
                        </li>
                        <li><a asp-page="/StraniceNaPocetnoj/Galerija">Galerija</a></li>
                        <li><a asp-page="/StraniceNaPocetnoj/Planer">Planer venčanja</a></li>
                        <li class="active"><a asp-page="/StraniceNaPocetnoj/Registracija">Registruj se</a></li>
                        <li><a asp-page="/StraniceNaPocetnoj/Logovanje">Prijavi se</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="fh5co-hero" data-section="home">
                                <div class="fh5co-overlay"></div>

                                <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(../images/rrr.jpeg);">
                                    <div class="display-t">
                                        <div class="display-tc">
                                            <div class="container">
                                                <div class="col-md-10 col-md-offset-1">

                                                    @RenderBody()

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                                <div class="col-lg-7">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

 

    <footer>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>WebWedding</h2>
                        <div>
                            <h1> webwedding@email.com </h1>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </footer>




    <!-- END fh5co-page -->
    <!-- END fh5co-wrapper -->
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <!-- jQuery -->
    <script src="~/dist/scripts.min.js"></script>
    
</body>
</html>


<style scoped>

    .ww {
        font-family: Vivaldi;
        font-size: 60px;
        color: snow;
    }
</style>