@page
@model WebWedding.Pages.StraniceNaPocetnoj.GreskaAdreseModel
@{
    @if (Model.ZaKorisnika)
    {
        @if (Model.ImaZahtev)
        {
            Layout = "_Layout_PlanerKSZ";
        }
        else
        {
            Layout = "_Layout_PlanerKBZ";
        }

    }
    else
    {
        Layout = "_Layout_PlanerK";
    }
}
<input type="hidden" id="korisnikID" asp-for="@Model.KorisnikID">
<form method="POST">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title w">
                <i class="icon-notification2"></i>  Obavestenje
            </div>
        </div>
        <div class="modal-body s1 ">
            <div class=" animate-box s3">
                <div class="blog-text k">
                    Da biste zabrani planer dodali u korpu morate uneti Vasu adresu!
                </div>
            </div>

        </div>
        <div class="modal-footer">

            <button type="submit" class="btn btn-secondary" asp-page-handler="Zatvori">
                Zatvori
            </button>
        </div>
    </div>
    </div>
</form>



<style scoped>

    .w {
        font-size: 30px;
        color: #ff6666;
    }

    .s1 {
        width: 100%;
        margin-left: 180px;
        margin-right: 30px;
    }

    .s2 {
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }

    .s3 {
        width: 60%;
        text-align: center;
    }

    .k {
        font-size: 20px;
        color: black;
    }
</style>