@page
@model WebWedding.Pages.OrganizatorPocetnaModel
@{
    Layout = "_Layout_Organizator_Pocetna";
}

    <input type="hidden" id="organizatorID" asp-for="@Model.OrganizatorID">
<form method="post">
    <div id="fh5co-groom-bride">

        <div class="row padding">
            <div class="couple-wrap">
                <div class="col-md-6 nopadding animate-box">
                    <a href="../OrganizatorPages/OrganizatorONama"><img src="../images/poc.jpg" class="img-fluid" height="300px" width="400px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                </div>
                <div class="col-md-6 nopadding animate-box">
                    <div class="couple-desc">
                        <h1><a href="../OrganizatorPages/OrganizatorONama">O nama</a></h1>
                        <p>
                            WebWedding je agencija koja se bavi organizacijom venčanja.
                            Ako još uvek tragate za savršenim prostorom za Vašu proslavu iz snova, agencija WebWedding može da Vam predloži neki od prelepih restorana i hotela sa kojima imamo uspešnu saradnju,
                            kao i fantastične bendove, najkreativnije dekoratere i neprevaziđene fotografe!
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row padding">
            <div class="couple-wrap">
                <div class="col-md-6 col-md-push-6 nopadding animate-box">
                    <a href="../OrganizatorPages/OrganizatorGalerija"><img src="../images/cover_bg_3.jpg" class="img-fluid" height="300px" width="400px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                </div>
                <div class="col-md-6 col-md-pull-6 nopadding animate-box">
                    <div class="couple-desc">
                        <h1><a href="../OrganizatorPages/OrganizatorGalerija">Galerija</a></h1>
                        <p>
                            Venčanje je najlepši događaj u životu dvoje ljudi koji su odlučili da krunišu svoju ljubav.
                            Sa željom da Vam omogućimo da u potpunosti uživate u Vašem danu, sa dragim gostima, Vaše snove pretvaramo u stvarnost!
                        </p>

                    </div>
                </div>
            </div>


            <div class="row padding">
                <div class="couple-wrap">
                    <div class="col-md-6 nopadding animate-box">
                        <a href="../OrganizatorPages/Organizator_Planer"><img src="../images/pla2.jpg" class="img-fluid" height="300px" width="400px" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                    </div>
                    <div class="col-md-6 nopadding animate-box">
                        <div class="couple-desc">
                            <h1><a href="../OrganizatorPages/Organizator_Planer">Planer</a></h1>
                            <p>
                                Budući mladenci, WebWedding je za vas pripremio i divne planere za venčanje!
                                Zaboravite na gomilu bespotrebnih papira i beležaka – svoje venčanje kompletno organizujte u nekom od naših planera.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>



</form>