@page
@model WebWedding.Pages.OrganizatorAzuriranjeFotografaModel
@{
    Layout =  "_Layout_PrikazMenija_Organizator";
}
    <input type="hidden" id="organizatorID" asp-for="@Model.OrganizatorID">
<form method="POST" enctype="multipart/form-data">
    <div class="s">
        <br />
        <h1>Dodaj novog fotografa:</h1>
        <br />
        <input type="hidden" asp-for="ID" />
        <div asp-validation-summary="All"></div>
        <div style="display:flex;flex-direction: column; margin-left: 40%; width: 250px;">
            <div class="border-bottom border-top">
                
                <div class="border-bottom border-top w"> Ime: <input type="text" asp-for="novFotograf.Ime" required /> </div>
                
                <div class="border-bottom border-top w"> Prezime: <input type="text" asp-for="novFotograf.Prezime" required /> </div>
               
                <div class="border-bottom border-top w"> Opis: <input type="text" asp-for="novFotograf.Opis" required /> </div>
                
                <div class="border-bottom border-top w"> Cena: <input type="number" asp-for="novFotograf.Cena" required /> </div>
                
                <div class="border-bottom border-top w"> Link: <input type="text" asp-for="novFotograf.Link" required /> </div>
                
                <div class="border-bottom border-top w"> Datum vazenja ugovora: <input type="date" asp-for="novFotograf.DatumVazenja" required /> </div>
                
                <div class="border-bottom border-top w"> Slika: <input type="file" asp-for="Slika" required /> </div>
                <br />
                <div class="border-bottom border-top lll"><input type="submit" value="Dodaj" /></div>
                <br />
            </div>
        </div>
        </div>
        <br />
</form>

<style scoped>
    .w {
        font-size: 20px;
        color: black;
    }


    .lll {
        font-size: 25px;
        color: #8B3A3A;
    }

    .s {
        width: 100%;
        text-align: center;
        align-content: center;
    }
</style>